<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Wcf_Sample_Net4.WcfRestService" behaviorConfiguration="protected">
        <endpoint address="" behaviorConfiguration="Wcf_Sample_Net4.WcfRestServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Wcf_Sample_Net4.WcfRestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Wcf_Sample_Net4.WcfRestServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="protected">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Wcf_Sample_Net4.ValidateJsonWebToken, Wcf-Sample-Net4" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<appSettings>
	  	<!-- 
	  		JsonWebToken configuration
	  	-->
    <add key="jwt:SymmetricKey" value="rPGkSV9BemkHZf7cZ4b18ECfP8nMC4PgXvArrJWZjiXjD2OJUw5_aCeXkav9-pzg" />
    <add key="jwt:AllowedAudience" value="rKSuDHAJAM299rketKLtoykPJEjUplqP" />
    <add key="jwt:AllowedIssuer" value="https://tutorials.auth0.com/" />
	</appSettings></configuration>
